@import "../general/mixins";
@import "../general/colors";
@import "../general/variables";
@import "../general/typography";

.about {
	padding: 0 16px 16px 80px;

	@include respond-to(max-width, $break-tablet-big) {
		padding-left: 36px;
	}

	@include respond-to(max-width, $break-navigation-mobile) {
		padding: 36px 24px 48px;
	}

	&__section {
		background-color: rgba($gray, 0.15);
		border-bottom: 1px solid rgba($black, 0.5);
		border-radius: 10px;
		margin-bottom: 64px;
		padding: 8px 16px;
	}

	&__section-title {
		font-size: $font-28;
		font-weight: $font-w-bold-med;
		margin-bottom: 6px;
	}

	&__section-text {
		max-width: 70%;
		padding: 0 0 6px 24px;

		@include respond-to(max-width, $break-tablet-big) {
			max-width: 80%;
		}
        
		@include respond-to(max-width, $break-tablet-small) {
			max-width: 95%;
		}
	}
}
