@import "../general/variables";
@import "../general/typography";
@import "../general/colors";
@import "../general/mixins";

.app {
	display: flex;
	max-width: $page-max-width;
	min-height: 100vh;
	width: 100%;
}

.content {
	margin-left: $aside-width-default;
	padding-top: $aside-nav-height;
	width: 100%;

	@include respond-to(max-width, $break-tablet-big) {
		margin-left: $aside-width-small;
	}

	@include respond-to(max-width, $break-navigation-mobile) {
		margin-left: 0;
	}
}
