@import "../general/typography";
@import "../general/colors";
@import "../general/variables";

.asset-info {
	display: grid;
	grid-template-columns: 2fr 3fr;
	min-height: 100vh;

	&__section {
		border: 1px solid rgba($black, 0.15);
		border-radius: 8px;
		margin-bottom: 36px;
		overflow: hidden;
		padding: 12px;
		word-break: break-word;
	}

	// left column
	//&__left-column {
	//}

	&__left-column &__section:nth-of-type(1) {
		border: 1px solid rgba($black, 0.35);
		margin-bottom: 24px;
		padding: 0;
	}
	/*
	&__left-column &__section:nth-of-type(2) {
	}
*/
	// right column
	&__right-column {
		margin-left: 20px;
	}
	/*
	&__right-column &__section:nth-of-type(1) {
	}

	&__right-column &__section:nth-of-type(2) {
	}

	&__right-column &__section:nth-of-type(3) {
	}
*/
	// section 1
	// video/image and link to OpenSea
	&__graphics {
		border-bottom: 1px solid rgba($black, 0.15);
		width: 100%;
	}

	&__logo-container {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 12px 0 16px;
	}

	&__logo-image {
		height: 54px;
		margin-right: -20px;
		width: 54px;
		z-index: $z-index-overlay;
	}

	&__logo-link {
		border: 1px solid $blue-dark;
		border-left: 0;
		border-radius: 8px;
		color: $black;
		display: inline-block;
		font-size: $font-18;
		font-weight: $font-w-bold-med;
		height: 54px;
		line-height: 50px;
		padding: 2px 6px 2px 26px;
		transition: background-color 0.1s;
	}

	&__logo-link:hover {
		background-color: rgba($gray, 0.35);
	}

	&__logo-link:active {
		background-color: rgba($gray, 0.55);
	}

	// section 2
	// name and description
	&__name {
		font-size: $font-24;
		font-weight: $font-w-bold-med;
		margin-bottom: 10px;
	}

	&__name--no-margin {
		margin-bottom: 0;
	}

	&__description {
		font-size: $font-17;
		padding-left: 16px;
	}
}
