@import "../general/mixins";
@import "../general/variables";
@import "../general/typography";
@import "../general/colors";
@import "../general/animations";

.home {
	padding: 0 16px 16px 24px;

	@include respond-to(max-width, $break-tablet-small) {
		padding: 0 12px 64px;
	}

	&__itemlist {
		display: grid;
		grid-column-gap: 24px;
		grid-row-gap: 32px;
		grid-template-columns: repeat(4, 1fr);

		@include respond-to(max-width, $break-laptop) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include respond-to(max-width, $break-tablet-big) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include respond-to(max-width, $break-tablet-small) {
			grid-template-columns: 1fr;
		}
	}

	&__loader-container {
		display: flex;
		justify-content: center;
		margin: 36px 0;
		width: 100%;
	}

	&__loader,
	&__loader-button {
		padding: 8px 18px;
		position: relative;
	}

	&__loader::before {
		animation: loading-border-before 0.8s ease-out infinite;
		background: transparent;
		border: 2px solid transparent;
		content: "";
		height: 0;
		left: -2px;
		position: absolute;
		top: -2px;
		width: 0;
	}

	&__loader::after {
		animation: loading-border-after 0.8s ease-out infinite;
		background: transparent;
		border: 2px solid transparent;
		content: "";
		height: 0;
		left: -2px;
		position: absolute;
		top: -2px;
		width: 0;
	}

	&__loader-text {
		font-size: $font-24;
		font-weight: $font-w-bold-med;
	}

	&__loader-button {
		background-color: $white;
		border: 2px solid $loader-border-color;
	}

	&__loader-button:hover {
		background-color: $button-general-hover-color;
	}

	&__loader-button:active {
		background-color: $button-general-active-color;
	}
}
