@import "../general/colors";
@import "../general/typography";

.item {
	background-color: rgba($gray, 0.09);
	border: 1px solid rgba($text-light, 0.7);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: $text-default;
	text-align: center;
	transition: all 0.1s;
	width: 100%;

	&__image-container {
		border-bottom: 1px solid rgba($text-light, 0.3);
		height: 252px;
		position: relative;
		width: 100%;
	}

	&__image {
		display: inline-block;
		height: inherit;
		object-fit: cover;
		width: 100%;
	}

	&__image-loader {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__info {
		padding: 4px 16px 8px;
		text-align: left;
	}

	&__collection,
	&__name {
		overflow: hidden;
		word-break: break-word;
	}

	&__collection {
		color: $text-light;
		font-size: $font-13;
		font-weight: $font-w-bold-med;
		height: 20px;
		margin-bottom: 4px;
	}

	&__name {
		font-size: $font-15;
		font-weight: $font-w-bold-med;
		height: 46px;
	}

	&:hover {
		box-shadow: 0 2px 6px rgba($black, 0.2);
		transform: translateY(-4px);
	}
}
