@import "../general/colors";
@import "../general/typography";

.item {
	border: 1px solid rgba($text-light, 0.7);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	text-align: center;
	transition: all 0.1s;
	width: 100%;

	&__image {
		width: 100%;
	}

	&__info {
		padding: 4px 16px 8px;
		text-align: left;
	}

	&__collection,
	&__name {
		word-break: break-all;
	}

	&__collection {
		color: $text-light;
		font-size: $font-13;
		font-weight: $font-w-bold-med;
	}

	&__name {
		font-size: $font-15;
		font-weight: $font-w-bold-med;
	}

	&:hover {
		box-shadow: 0 2px 6px rgba($black, 0.2);
		margin-top: -4px;
	}
}
