@import "../general/variables";
@import "../general/typography";
@import "../general/colors";
@import "../general/mixins";

.aside {
	background-color: rgba($gray, 0.05);
	border-right: 1px solid rgba($gray, 0.8);
	height: 100vh;
	position: fixed;
	width: $aside-width-default;

	@include respond-to(max-width, $break-tablet-big) {
		width: $aside-width-small;
	}

	@include respond-to(max-width, $break-phone-big) {
		display: none;
	}

	&__nav {
		background-color: rgba($gray, 0.2);
		border-bottom: 1px solid rgba($gray, 0.8);
		height: $aside-nav-height;
		padding: 8px 0;
	}

	&__nav-list {
		display: flex;
		justify-content: space-evenly;

		@include respond-to(max-width, $break-tablet-big) {
			justify-content: space-between;
			padding: 0 6px;
		}
	}

	&__nav-item {
		display: inline-block;
	}

	&__nav-link {
		color: $text-default;
		font-size: $font-28;
		font-weight: $font-w-bold-med;

		&:hover {
			color: rgba($blue-med-dark, 0.8);
		}

		&:active {
			color: $blue-med-dark;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: calc(100vh - $aside-nav-height);
		padding: 64px 8px 16px;
		position: relative;

		@include respond-to(max-width, $break-tablet-big) {
			padding-top: 32px;
		}

		@include respond-to(max-height, $break-v-600) {
			justify-content: space-between;
		}
	}

	&__list-title {
		color: $black;
		font-size: $font-18;
		font-weight: $font-w-bold-med;
		margin-bottom: 12px;
	}

	&__list-container {
		&:first-of-type {
			margin-bottom: 100px;
			
			@include respond-to(max-height, $break-v-600) {
				margin-bottom: 0;
			}
		}
	}

	&__list-item {
		margin-bottom: 10px;
	}

	&__logo-container {
		bottom: 16px;
		padding: 0 8px;
		position: absolute;

		@include respond-to(max-height, $break-v-600) {
			padding: 0;
			position: relative;
		}
	}

	&__logo {
		max-width: 100%;
	}
}
