@import "../general/typography";
@import "../general/colors";

.pagination {
	margin: 32px 0;
	text-align: center;

	&__navigate {
		background-color: $white;
		font-size: $font-30;
		font-weight: $font-w-bold-med;
		margin: 0 16px;

		&:not([disabled]):hover {
			color: $blue-med-dark;
		}

		&:disabled {
			color: rgba($text-light, 0.7);
		}
	}

	&__navigate-side-page {
		background-color: $white;
		color: $blue-med-dark;
		font-size: $font-22;
		font-weight: $font-w-bold-med;
		padding: 2px 6px;

		&:hover {
			color: $blue-med-light;
		}
	}

	&__number {
		color: $black;
		font-size: $font-26;
		font-weight: $font-w-bold-med;
		user-select: none;
	}

	&__rotate-180 {
		display: inline-block;
		transform: rotate(180deg);
	}
}
