{
    "extends": "stylelint-config-sass-guidelines",
    "plugins": [
        "stylelint-declaration-use-variable"
    ],
    "rules": {
        "indentation": "tab",
        "number-leading-zero": null,
        "string-quotes": "double",
        "max-nesting-depth": 3,
        "selector-max-id": 1,
        "sh-waqar/declaration-use-variable": [[
            "color",
            "z-index",
            "font-size",
            {
                "ignoreValues": [
                    "transparent",
                    "inherit",
                    "initial",
                    "/(rgba\\(\\$.*\\))/",
                    "/(rgb\\(\\$.*\\))/"
                ]
            }
        ]]
    }
}