@import "./colors";

@keyframes loading-border-before {
	0% {
		border-left-color: $loader-border-color;
		border-top-color: transparent;
		height: 100%;
		width: 0;
	}

	50% {
		border-left-color: transparent;
		border-top-color: $loader-border-color;
		height: 0;
		width: 0;
	}

	100% {
		border-left-color: transparent;
		border-top-color: transparent;
		height: 100%;
		width: 100%;
	}
}

@keyframes loading-border-after {
	0% {
		border-bottom-color: transparent;
		border-right-color: $loader-border-color;
		height: 0;
		width: 100%;
	}

	50% {
		border-bottom-color: transparent;
		border-right-color: transparent;
		height: 100%;
		width: 100%;
	}

	100% {
		border-bottom-color: $loader-border-color;
		border-right-color: transparent;
		height: 100%;
		width: 0;
	}
}
