// main theme colors
$blue-dark: #1868B7;
$blue-med-dark: #2081E2;
$blue-med-light: #15b2e5;
$blue-light: #2BCDE4;
$gray: #E5E8EB;

// extra colors
$white: #fff;
$black: #000;

// text
$text-default: #353840;
