// main theme colors
$blue-dark: #1868b7;
$blue-med-dark: #2081e2;
$blue-med-light: #15b2e5;
$blue-light: #2bcde4;
$gray: #e5e8eb;

// extra colors
$white: #fff;
$black: #000;

// text
$text-default: #353840;
$text-light: #686b74;

// buttons
$loader-border-color: rgba($black, 0.6);
$button-general-hover-color: rgba($gray, 0.3);
$button-general-active-color: rgba($gray, 0.5);
