@import "../general/typography";
@import "../general/colors";
@import "../general/animations";

// highest level
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: $text-default;
	font-family: $font-default;
	position: relative;
}

#app {
	display: flex;
	justify-content: center;
}

ul {
	list-style-type: none;
}

// links and buttons
a,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.router-link-exact-active {
	color: $blue-med-dark;
}

button {
	border: 0;
	font-family: $font-default;
}

.nav-button {
	background-color: $white;
	border: 1px solid rgba($black, 0.25);
	border-radius: 4px;
	color: $black;
	font-size: $font-16;
	padding: 4px 0;
	transition: all 0.2s;
	width: 100%;

	&--back {
		border: 1px solid rgba($black, 0.5);
		display: inline-block;
		font-size: $font-18;
		font-weight: $font-w-bold-med;
		text-align: center;
	}

	&:hover {
		background-color: $button-general-hover-color;
	}

	&:active {
		background-color: $button-general-active-color;
	}
}

.nav-button--active {
	background-color: rgba($blue-med-dark, 0.8);
	border: 1px solid $blue-med-dark;
	color: $white;

	&:hover {
		background-color: rgba($blue-med-dark, 0.9);
		border: 1px solid rgba($black, 0.25);
	}

	&:active {
		background-color: rgba($blue-med-dark, 1);
	}
}

// call to action button
.cta-button {
	background-color: $blue-med-dark;
	border: 1px solid $blue-dark;
	color: $white;
	font-weight: $font-w-bold-med;
	transition: all 0.2s;
}

.cta-button:hover {
	background-color: $white;
	color: $black;
}

.cta-button:active {
	background-color: rgba($gray, 0.55);
}

// loader
.loader-container {
	display: flex;
	justify-content: center;
	margin: 36px 0;
	width: 100%;
}

.loader-container--centered {
	align-items: center;
	height: 100vh;
	margin: 0;
}

.loader,
.loader-button {
	padding: 8px 18px;
	position: relative;
}

.loader::before {
	animation: loading-border-before 0.8s ease-out infinite;
	background: transparent;
	border: 2px solid transparent;
	content: "";
	height: 0;
	left: -2px;
	position: absolute;
	top: -2px;
	width: 0;
}

.loader::after {
	animation: loading-border-after 0.8s ease-out infinite;
	background: transparent;
	border: 2px solid transparent;
	content: "";
	height: 0;
	left: -2px;
	position: absolute;
	top: -2px;
	width: 0;
}

.loader-text {
	font-size: $font-24;
	font-weight: $font-w-bold-med;
}

.loader-button {
	background-color: $white;
	border: 2px solid $loader-border-color;
}

.loader-button:hover {
	background-color: $button-general-hover-color;
}

.loader-button:active {
	background-color: $button-general-active-color;
}

.spinner {
	animation: spinner 0.9s linear infinite;
	border: 3px solid rgba($black, 0.4);
	border-bottom: 0;
	border-radius: 50%;
	border-right: 0;
	height: 40px;
	margin: 16px auto;
	width: 40px;
}

.spinner--button {
	display: inline-block;
	height: 20px;
	margin: -2px 4px 0;
	vertical-align: middle;
	width: 20px;
}

// if the spinner was used to show the loading of
// someting (usually an image), turn it off when the image is loaded
.loaded div {
	display: none;
}

// text
.bold {
	font-weight: $font-w-bold;
}

// for screen reader
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	white-space: nowrap;
	width: 1px;
}
