@import "./typography";
@import "./colors";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: $text-default;
	font-family: $font-default;
	position: relative;
}

#app {
	display: flex;
	justify-content: center;
}

ul {
	list-style-type: none;
}

// links and buttons
a,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.router-link-exact-active {
	color: $blue-med-dark;
}

button {
	border: 0;
	font-family: $font-default;
}

.nav-button {
	background-color: $white;
	border: 1px solid rgba($black, 0.25);
	border-radius: 6px;
	color: $black;
	font-size: $font-16;
	padding: 4px 0;
	width: 100%;

	&--back {
		border: 1px solid rgba($black, 0.5);
		display: inline-block;
		font-size: $font-18;
		font-weight: $font-w-bold-med;
		text-align: center;
	}

	&:hover {
		background-color: rgba($gray, 0.3);
	}

	&:active {
		background-color: rgba($gray, 0.5);
	}
}

.nav-button--active {
	background-color: rgba($blue-med-dark, 0.8);
	border: 1px solid $blue-med-dark;
	color: $white;

	&:hover {
		background-color: rgba($blue-med-dark, 0.65);
		border: 1px solid rgba($black, 0.25);
	}

	&:active {
		background-color: rgba($blue-med-dark, 0.7);
	}
}

// for screen reader
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	white-space: nowrap;
	width: 1px;
}
