@import "./typography";
@import "./colors";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: $text-default;
	font-family: $font-default;
	position: relative;
}

#app {
	display: flex;
	justify-content: center;
}

a,
button {
	cursor: pointer;
}

a {
	color: $text-default;
	text-decoration: none;
}

button {
	border: 0;
	font-family: $font-default;
}

// for screen reader
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	white-space: nowrap;
	width: 1px;
}
