$page-max-width: 1600px;

// --- break points
// horizontal
$break-laptop: 1366px;
$break-tablet-big: 1024px;
$break-tablet-medium: 960px;
$break-tablet-small: 768px;
$break-phone-big: 520px;
$break-phone-medium: 425px;
$break-phone-small: 375px;

$break-navigation-mobile: $break-tablet-small;

// vertical
$break-v-600: 630px;

// navigation component variables
$aside-width-default: 240px;
$aside-width-small: 200px;
$aside-nav-height: 60px;

// z-index
$z-index-overlay: 1;
